.page_title_style {
	color: brown;
	margin: 0;
	font-size: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	transition: 0.5s;
}

.page_title_style:hover {
	margin: 0;
	font-size: 50px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	transition: 0.5s;
}

/* main 
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.input_box 
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
} */